* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #111827;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  border-bottom: 1px solid #e5e7eb;
}

.nav-logo img {
  width: 150px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #374151;
}

.nav-actions {
  display: flex;
  gap: 12px;
}

.nav-actions button,
.hero-buttons button {
  padding: 12px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.signup,
.hero-buttons button:first-child {
  background: linear-gradient(90deg, #ff7a18, #af002d);
  color: white;
}

.signin {
  background: transparent;
  border: 1px solid #ddd;
}

.menu-btn {
  display: none;
}

.hero {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 8%;
  gap: 40px;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 60px;
  line-height: 1.1;
}

.hero h1 span {
  background: linear-gradient(90deg, #ff7a18, #af002d);
  -webkit-background-clip: text;
  color: transparent;
}

.hero p {
  margin: 25px 0;
  font-size: 18px;
  color: #6b7280;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.hero-image img {
  width: 450px;
}

@media(max-width:768px) {
  .nav-links,
  .nav-actions {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero h1 {
    font-size: 42px;
  }

  .hero-image img {
    width: 300px;
  }
}